article#Projects {
    margin: auto;
}

img#projectList.card-img-top.mt-3 {
    height: 10vw;
    width: 100%;
    object-fit: cover;
    /* background-color: rgb(26, 29, 33); */
}

@media (max-width: 360px) {
    article#Projects {
        margin: auto;
        padding: 0px 10px 0px 10px
    }
}

@media (max-width: 360px) {
    img#projectList.card-img-top.mt-3 {
    height: 80vw;
    width: 100%;
    object-fit: cover;
    }
}

div.card-title.h5 {
    color: black;
}


div.card {
    background-color: whitesmoke;
    width: 25rem;
}

p.card-text {
    color: black;
}

a#projectList.GitHub.btn {
    background-color: purple;
}

a#projectList.Website.btn {
    background-color: goldenrod;
}