.card img {
    height: 20vw;
    width: 100%;
    object-fit: cover;
    border: 5px solid black;
    /* background-color: rgb(26, 29, 33); */
}

div.card-title.h5 {
    color: black;
}

.card {
    margin: auto;
}

div.justify-content-center.my-4.card {
    background-color: whitesmoke;
}

a#personalSite.btn {
    background-color: green;
    border-color: green;
}

a#gitHub.btn {
    background-color: purple;
    border-color: purple;
}