

/* Hero Section */
/* #hero {
     background-image: url("../../Images/WayneGraduation.jpg"); 
    display: block;
    height: 100vh;
    position: relative;
    margin: 30px;
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    z-index: 3;
} */

#hero img#aboutImg {
   object-fit: contain;
    height: auto;
    width: 50%;
}

#hero h3 {
    display: inline-block;
    background-color: rgba(255, 255, 255, .3);
    width: 30%;
    position: relative;
    top: 60%;
    -webkit-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
    padding: 20px;
    color: black;
}



/* Language Gallery */

article #language-gallery {
    display: grid;
}

article.row {
    display: flex;
    flex-wrap: wrap;
}

/* h1 {
    color: white;
} */

img#languageImg {
    object-fit: contain;
    width: 100%;
    height: 15vw;
}

img#frameworkImg {
    object-fit: contain;
    width: 100%;
    height: 15vw;
}

button#contactModal.btn.btn {
    margin-bottom: 1em;
}

/* @media (max-width: 360px) {
    #hero {
        background-image: url("../../Images/WayneGraduation.jpg");
    display: block;
    height: 75vh;
    position: relative;
    margin: 0px 15px 0px 15px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    }
} */

/* @media (max-width: 360px) {
    #hero img#aboutImg {
    object-fit: contain;
    height: 100vw;
    width: 100px;
    }
} */

@media (max-width: 360px) {
    #hero h3 {
    display: inline-block;
    background-color: rgba(255, 255, 255, .3);
    background-position: initial;
    width: 100%;
    height: 18vw;
    position: relative;
    top: 60%;
    -webkit-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
    color: black;
    }
}

/* @media (max-width: 360px) {
    button#contactModal.btn.btn {
        margin-bottom: 3%;
    }
} */